### Installing lxml to read html from Wikipedia Page

In [2]:
pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.4.2)
Note: you may need to restart the kernel to use updated packages.

### Installing Geopy and Folium Packages

In [3]:
!conda install -c conda-forge geopy --yes #Installing Geopy
!conda install -c conda-forge folium=0.5.0 --yes #Installing Folium

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.8.1

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.8.1

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

### Installing several necessary libraries

In [4]:
import pandas as pd #Importing pandas library
import numpy as np # library to handle data in a vectorized manner
import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

print('Libraries imported.')

Libraries imported.

### Extract the tables from the Wiki Page into Dataframe and view the list of tables obtained

In [5]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M') #Reading all tables in html into dataframe
for df in dfs: #Displaying all dataframes in the wiki page
    print(df)

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]
                                                  0   \
0                                                NaN
1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
2                                                 NL
3                                                  A

                                                  1   \
0                              Canadian postal codes
1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
2                                                 NS
3                                                  B

                                                  2    3    4    5    6    7   \
0                                                NaN  NaN  NaN  NaN  NaN  NaN
1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  NaN  NaN  NaN  NaN  NaN
2                                                 PE   NB   QC   QC   QC   ON
3                                                  C    E    G    H    J    K

    8    9    10   11   12   13   14   15     16   17
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
2   ON   ON   ON   ON   MB   SK   AB   BC  NU/NT   YT
3    L    M    N    P    R    S    T    V      X    Y
   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y

### Store the table required into another dataframe

In [6]:
pc = dfs[0] #Selecting the required dataframe from all the dataframes available
pc

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

### Drop all row entries where Borough is not assigned

In [7]:
pc.drop(pc[pc['Borough']=='Not assigned'].index, inplace = True) #drop rows where Borough is "Not Assigned"
pc

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

### Group all rows entries with same Postcode and combine the respective neighbourhoods in those rows separated by commas

In [8]:
pc = pc.groupby('Postcode').agg(lambda x:", ".join(set(x))) # Group values by Postcode and join neighbourhood values using "," where Post Code is same
pc

              Borough                                      Neighbourhood
Postcode
M1B       Scarborough                                     Malvern, Rouge
M1C       Scarborough             Highland Creek, Rouge Hill, Port Union
M1E       Scarborough                  Morningside, Guildwood, West Hill
M1G       Scarborough                                             Woburn
M1H       Scarborough                                          Cedarbrae
...               ...                                                ...
M9N              York                                             Weston
M9P         Etobicoke                                          Westmount
M9R         Etobicoke  Richview Gardens, Kingsview Village, St. Phill...
M9V         Etobicoke  Mount Olive, South Steeles, Thistletown, Silve...
M9W         Etobicoke                                          Northwest

[103 rows x 2 columns]

### Replace the Neighbourhood name with Borough Name where Neighbourhood name is not attached

In [9]:
pc.loc[pc['Neighbourhood']=='Not assigned',"Neighbourhood"]=pc.loc[pc['Neighbourhood']=='Not assigned',"Borough"] # Replacing corresponding Borough value where Neighbourhood is "Not assigned" 
pc

              Borough                                      Neighbourhood
Postcode
M1B       Scarborough                                     Malvern, Rouge
M1C       Scarborough             Highland Creek, Rouge Hill, Port Union
M1E       Scarborough                  Morningside, Guildwood, West Hill
M1G       Scarborough                                             Woburn
M1H       Scarborough                                          Cedarbrae
...               ...                                                ...
M9N              York                                             Weston
M9P         Etobicoke                                          Westmount
M9R         Etobicoke  Richview Gardens, Kingsview Village, St. Phill...
M9V         Etobicoke  Mount Olive, South Steeles, Thistletown, Silve...
M9W         Etobicoke                                          Northwest

[103 rows x 2 columns]

### Find the number of rows in the dataframe

In [10]:
pc.shape[0] #Number of rows

103

### Read Latitude and Longitude csv file

In [11]:
ld = pd.read_csv("https://cocl.us/Geospatial_data")
ld

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

### Set index of 'ld' dataframe to Postal Code

In [13]:
ld.set_index("Postal Code")

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476
...                ...        ...
M9N          43.706876 -79.518188
M9P          43.696319 -79.532242
M9R          43.688905 -79.554724
M9V          43.739416 -79.588437
M9W          43.706748 -79.594054

[103 rows x 2 columns]

### Merge Dataframe 'pc' with Dataframe 'ld'

In [14]:
result=pc.merge(ld, left_on="Postcode", right_on="Postal Code")
result

,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,Scarborough,"Malvern, Rouge",M1B,43.806686,-79.194353
1,Scarborough,"Highland Creek, Rouge Hill, Port Union",M1C,43.784535,-79.160497
2,Scarborough,"Morningside, Guildwood, West Hill",M1E,43.763573,-79.188711
3,Scarborough,Woburn,M1G,43.770992,-79.216917
4,Scarborough,Cedarbrae,M1H,43.773136,-79.239476
...,...,...,...,...,...
98,York,Weston,M9N,43.706876,-79.518188
99,Etobicoke,Westmount,M9P,43.696319,-79.532242
100,Etobicoke,"Richview Gardens, Kingsview Village, St. Phill...",M9R,43.688905,-79.554724
101,Etobicoke,"Mount Olive, South Steeles, Thistletown, Silve...",M9V,43.739416,-79.588437
102,Etobicoke,Northwest,M9W,43.706748,-79.594054

### Set Index to Postal Code

In [15]:
result.set_index("Postal Code")

,Borough,Neighbourhood,Latitude,Longitude
Postal Code,,,,
M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
M1E,Scarborough,"Morningside, Guildwood, West Hill",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...
M9N,York,Weston,43.706876,-79.518188
M9P,Etobicoke,Westmount,43.696319,-79.532242
M9R,Etobicoke,"Richview Gardens, Kingsview Village, St. Phill...",43.688905,-79.554724
M9V,Etobicoke,"Mount Olive, South Steeles, Thistletown, Silve...",43.739416,-79.588437
M9W,Etobicoke,Northwest,43.706748,-79.594054